# --- Version Control (ОЧЕНЬ ВАЖНО для размера) ---
.git
.gitignore
.dockerignore

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# --- Virtual Environments ---
.venv/
venv/
ENV/
env/

# --- IDE / Editor ---
.idea/
.vscode/
*.swp
*.swo

# --- OS files ---
.DS_Store
Thumbs.db

# --- Secrets (Безопасность!) ---
.env
.env.*
api-secrets.env

# --- Kubernetes Configs (Безопасность!) ---
k8s/

# --- Backend uploads / temp ---
uploads/
uploads_ci/

# --- Frontend (Не нужно в образе Бэкенда) ---
frontend/

# --- Build artifacts ---
build/
dist/
*.egg-info/

# --- Test artifacts & Code ---
tests/
.pytest_cache/
.coverage
htmlcov/

# --- SonarQube ---
.scannerwork/

# --- Logs ---
logs/
*.log