fastapi
uvicorn[standard]
SQLAlchemy[asyncio]
asyncpg
pydantic
geoalchemy2
alembic
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
prometheus-fastapi-instrumentator
httpx
aiofiles
pytest
# БД
pgvector>=0.2.0

# AI и RAG
langchain>=0.1.0
langchain-community>=0.0.10
langchain-gigachat  # Библиотека для работы с GigaChat
sentence-transformers # Для локальных эмбеддингов HuggingFace
pypdf # Для чтения PDF
python-docx # Для чтения DOCX
tiktoken # Токенизатор
langchain-huggingface
docx2txt
aiokafka==0.10.0