fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
SQLAlchemy[asyncio]
alembic
asyncpg
psycopg2-binary
geoalchemy2
python-jose[cryptography]
passlib[bcrypt]
httpx
aiofiles
aiokafka==0.13.0
# ИСПРАВЛЕНО НАЗВАНИЕ (добавлено 'or' в конце)
prometheus-fastapi-instrumentator