apiVersion: apps/v1
kind: Deployment
metadata:
  name: pyro-frontend
  namespace: default
  labels:
    app: pyro-frontend
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: pyro-frontend
  template:
    metadata:
      labels:
        app: pyro-frontend
    spec:
      imagePullSecrets:
        - name: ghcr-creds

      containers:
        - name: pyro-frontend
          image: ghcr.io/ylanov/pyro-frontend:2.0.718-f
          imagePullPolicy: IfNotPresent

          ports:
            - name: http
              containerPort: 80

          # Можно оставить, но я даже его убрал, чтобы не мешать поведению nginx.
          # securityContext:
          #   allowPrivilegeEscalation: false

          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "1000m"
              memory: "1Gi"

      restartPolicy: Always
